@charset "utf-8";

/* 
    Project  : ContactFormFeedback
    Author  : Alex/
    Version : 1.0
    Date    : 30/11/2016
*/

/*-------------------------------------------------------*/
/* GLOBAL */
/*-------------------------------------------------------*/

html {
    box-sizing:border-box;
    height: 100%;
    font-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    position: relative;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.625em; /*26px*/
    color: #000033;
    background-color: #fff;
}

/*Links*/
/*-----------------------------*/
a {
    text-decoration: none;
    color: #000033;
}

/*Typography*/
/*-----------------------------*/
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
    margin: 0 0 0.625em 0;
    line-height: 1.25em;
}
h1, .h1-like,
h2, .h2-like,
h3, .h3-like {
    font-weight: 700;
}
h1, .h1-like {
    font-size: 2em;
}
h2, .h2-like {
    font-size: 1.75em;
}

h3, .h3-like {
    font-size: 1.5em;
}

h4, .h4-like {
    font-size: 1.25em;
}

h5, .h5-like {
    font-size: 1.125em;
}

h6, .h6-like {
    font-size: 1em;
}
p {
    margin: 0 0 0.625em 0;
}
hr {
    margin: 1.4375em 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #000033;
    border-left: none;
}

/*List*/
/*-----------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

/* Forms */
/* -----------------------------------------------------*/
form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
input,
label,
select {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

label {
    margin-bottom: .35938em;
    font-weight: 700;
    cursor: pointer;
}

label.required:after {
    content: " *";
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .71875em;
    padding: .625em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: #fff;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
    border-color: #ceced0;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: #D35F60;
    outline: none;
    box-shadow: 0 0 5px rgba(205,75,77,.7);
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: .71875em;
}

input[type="file"] {
    width: 100%;
    margin-bottom: .71875em;
    padding-bottom: .23958em;
}

select {
    width: auto;
    margin-bottom: .71875em;
    max-width: 100%;
}

fieldset {
    margin: 0 0 .71875em 0;
    padding: 1.4375em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    background: rgba(250, 250, 250, 0.73);
}

::-webkit-input-placeholder {
    color: #c8c9ca;
}

:-moz-placeholder {
    color: #c8c9ca;
}

::-moz-placeholder {
    color: #c8c9ca;
}

:-ms-input-placeholder {
    color: #c8c9ca;
}
input[id="text_field"] {
    display: inline-block;
    width: 70%;
}
label[for="text_field"] {
    display: inline-block;
    width: 15%;
}

/*Grouping content*/
/*-----------------------------*/
img, 
audio,
video {
    max-width: 100%; 
    height: auto;
    vertical-align: bottom;
}
figure {
    margin: 0;
}

/* Boutons */
/*-----------------------------*/
.btn {
    position: relative;
    display: inline-block;
    background-color: #cc3333;
    color: #f2f2f2;
    border: 1px solid #000033;
    border-radius: 3px;
    padding: 0 2em;
    line-height: 2.5em;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    color: #000033;
    background: none;
    border: 1px solid #cc3333;
    font-weight: 700;
}
.btn:active {
    top: 1px;
}

/* CSS GRID */
/*-------------------------------*/
.grid:before,
.grid:after {
    display: block;
    content: "";
    clear: both;
}
.grid {
    margin-left: -10px;
    margin-right: -10px;
}
.grid [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.col-m-1 {
    width: 50%;
}
.col-m-2 {
    width: 100%;
}


/* HELPERS */
/*-------------------------------*/

/*
m = margin
a, t, b = all, top, bottom
n, s, m, l = none, small, large
*/
.man {
    margin: 0px !important;
}
.mas {
    margin: 20px !important;
}
.mam {
    margin: 40px !important;
}
.mal {
    margin: 60px !important;
}


.mtn {
    margin-top: 0px !important;
}
.mts {
    margin-top: 20px !important;
}
.mtm {
    margin-top: 40px !important;
}
.mtl {
    margin-top: 60px !important;
}


.mbn {
    margin-bottom: 0px !important;
}
.mbs {
    margin-bottom: 20px !important;
}
.mbm {
    margin-bottom: 40px !important;
}
.mbl {
    margin-bottom: 60px !important;
}

.txt-center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}

.table {
    display: table;
    width: 100%;
}
.fixed {
    table-layout: fixed;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    vertical-align: top;
}
.right {
    float: right!important;
}

.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.v-bottom {
    vertical-align: bottom;
}


/*-------------------------------------------------------*/
/* CONTENT */
/*-------------------------------------------------------*/
.wrap {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* HEADER */
/*-------------------------------*/
#header {
    background: #000033;
}

/* Logo */
/*-------------------------------*/
header {
    margin:0 auto; 
    overflow: hidden;
}
header img {
    width:300px;
    margin:0 auto;
    display: block;
}
header h1 {
    font-family: 'Lobster', cursive;
    color: #f2f2f2;
    font-size: 1.3em;
    text-align: center;
}

/* Main */
/*-------------------------------*/
.description {   
    background: #f2f2f2;
}

.formContact {
    color: #000033;
    background: #fff;
}
.formContact fieldset {
    border:1px solid #f2f2f2;
    background: #000033;
    color: #f2f2f2;
}


/* Footer */
/*-------------------------------*/
footer {
    background: #000033;
    color: #f2f2f2;
    padding:2em;    
}
footer p a {
    color:#f2f2f2;
}
.facebook, .twitter, .linkedin { 
	display: inline-block;
        vertical-align: middle;
	width: 42px;
	height: 0;
	margin: 0 10px;
	padding-top: 42px;	
        background-position: top;
}
.facebook { 	
	background: url(../img/facebook.svg);
}
.twitter { 	
	background: url(../img/twitter.svg);
}
.linkedin { 	
	background: url(../img/linkedin.svg);
}
.facebook:hover, .twitter:hover, .linkedin:hover {
        background-position: bottom;
}

@media (min-width: 769px) {
    /* grid */
    .col-d-1 {
        width: 8.333%;
    }
    .col-d-2 {
        width: 16.666%;
    }
    .col-d-3 {
        width: 25%;
    }
    .col-d-4 {
        width: 33.333%;
    }
    .col-d-5 {
        width: 41.667%;
    }
    .col-d-6 {
        width: 50%;
    }
    .col-d-7 {
        width: 58.333%;
    }
    .col-d-8 {
        width: 66.667%;
    }
    .col-d-9 {
        width: 75%;
    }
    .col-d-10 {
        width: 83.333%;
    }
    .col-d-11 {
        width: 91.667%;
    }
    .col-d-12 {
        width: 100%;
    }
}